{% extends base %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% localtime on %}
{% block main %}
{{ TIME_ZONE }}
{% if event_list %}
    <table class="responsive">
    {% for e in event_list %}
        <tr>
			<th><a href="{{ e.get_absolute_url }}">{{ e.title }}</a>
				{% if perms.Event_Planner.change_event %}
				<br /><a href="{% url 'event_update_view' e.id %}" class="ui-btn ui-icon-edit ui-btn-inline " data-ajax="false">edit</a>
			<br /><a href="{% url 'event_delete_view' e.id %}" class="ui-btn ui-icon-delete ui-btn-inline ">delete</a>{% endif %} </th>
        	<td data-th="Date:"><a href="{{ e.get_absolute_url }}">{{ e.date }}</a></td>
{% if perms.Event_Planner.change_event %}
  			{% if e.has_ppt %}
  				<td><a  class = "noPrint ui-btn ui-btn-inline" href="{% url 'event_powerpoint_view2' e.id e.get_pptx_name %}" data-ajax="false" download>Powerpoint</a></td>
  			{% else %}
  				<td/>
  			{% endif %}
        	  {% endif %}

  			    <td><button class = "noPrint openSelectPDFsDialog" filename="{{ e.title }}.pdf" eventid="{{ e.id }}" dataurl="{% url 'json_pdf_view' e.id %}" eventurl="{% url 'raw_pdf_view' e.id %}" >PDF</button></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
<p>
{% if perms.Event_Planner.add_event %}
    <a href="{% url 'event_create_view' %}">new event</a>
    <!--a href="{% url 'mass_create_view' %}">new mass</a-->


	</p>
	{% if templates %}
		<form id="template_choice_form" method="get" action="{% url 'template_event_create_view' %}" data-ajax="false">
			{{ templates }}
			<input id="template_choice_submit" type="submit" value="Create Event From Template"/>
		</form>
	{% endif %}
{% endif %}
{% include "Event_Planner/pdfMergeDialog.html" %}
{% endblock %}
{% endlocaltime %}
href="{% url 'raw_pdf_view' e.id %}" data-ajax="false" download
