{% extends base %}

{% block main %}
{% if event_list %}
    <table>
    {% for e in event_list|dictsortreversed:"date" %}
        <tr>
        	<th><a href="{{ e.get_absolute_url }}">{{ e.title }}</a></th>
        	<td><a href="{{ e.get_absolute_url }}">{{ e.date }}</a></td>
        	{% if perms.Event_Planner.change_event %}
        		<td><a href="{% url 'event_update_view' e.id %}" data-ajax="false">edit</a></td>
  			{% endif %}
        	{% if perms.Event_Planner.delete_event %}
          	    <td><a href="{% url 'event_delete_view' e.id %}">delete</a></td>
  			{% endif %}
          {% if user.is_authenticated %}
  			{% if e.has_ppt %}
  				<td><a  class = "noPrint" href="{% url 'event_powerpoint_view2' e.id e.get_pptx_name %}" data-ajax="false" download>Powerpoint</a></td>
  			{% else %}
  				<td/>
  			{% endif %}

  			    <td><button class = "noPrint openSelectPDFsDialog" filename="{{ e.title }}.pdf" eventid="{{ e.id }}" dataurl="{% url 'json_pdf_view' e.id %}" eventurl="{% url 'raw_pdf_view' e.id %}" >combined PDF</button></td>
        	  {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
<p>
{% if perms.Event_Planner.add_event %}
    <a href="{% url 'event_create_view' %}">new event</a>
    <!--a href="{% url 'mass_create_view' %}">new mass</a-->


	</p>
	{% if templates %}
		<form id="template_choice_form" method="get" action="{% url 'template_event_create_view' %}" data-ajax="false">
			{{ templates }}
			<input id="template_choice_submit" type="submit" value="Create Event From Template"/>
		</form>
	{% endif %}
{% endif %}
{% include "Event_Planner/pdfMergeDialog.html" %}
{% endblock %}

href="{% url 'raw_pdf_view' e.id %}" data-ajax="false" download
