{% extends "base.html" %}
{% block main %}
{% load static %}
<!--script src="{% static "js/dropzone.js" %}"> </script-->
<script src="{% static "jquery.form.js" %}"></script>
<link rel="stylesheet" href="{% static "css/dropzone.css" %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<p>
<h1>{{ event.title }}</h1>
<h2>{{ event.date }}</h2>
<table id="detail" class="responsive">
	<thead>
        <tr>
	        <th />
		<th> Title </th>
		<th> Composer(s) </th>
		<th> Notes </th>
	</tr>
	</thead>
	<tbody>
	
{% for s in event.segment_set.all|dictsort:"order" %}
	{% if s.visible %}
	<tr>
		<th class="rotate">
			{{ s.title }}
		</th>
		<td data-th="Title">
			{% if s.songsegment %}
				{% if s.songsegment.song %}
			
					<br/><a href="{{ s.songsegment.song.get_absolute_url }}">
						{{ s.songsegment.song.title }}
					</a>
			<div data-role="collapsible" class="noPrint fallback documents"> 
{% if perms.Event_Planner.add_event %}
<input type="checkbox" class="togglebox" id="edit{{ s.songsegment.id }}" data-role="none" />{% endif %}
{% if perms.Event_Planner.add_event %}
            {% if flavour == "mobile" %}
<label class="segEditIconLabel" for="edit{{ s.songsegment.id }}" id="editicon{{ s.songsegment.id }}" class="segEditLabel" data-role="none"><span><img class="segEditIcon" src="{% static "img/pencil2.png" %}" /></span></label>{% endif %}{% endif %}

			  <h4>Documents
{% if perms.Event_Planner.add_event %}
            {% if flavour != "mobile" %}
<label class="segEditIconLabel" for="edit{{ s.songsegment.id }}" id="editicon{{ s.songsegment.id }}" class="segEditLabel" data-role="none"><span><img class="segEditIcon" src="{% static "img/pencil2.png" %}" /></span></label>{% endif %}{% endif %}
 
</h4>	
					{% if s.songsegment.song.files %}
	<ul>
    {% for file in s.songsegment.song.files %}
        <li>
	  <span class="clearfix songfile">
            {% if perms.Event_Planner.add_event %}<span class="deletefilebutton" deletefrom="{% url 'rest_songfile_view' file.id %}">&times;</span>{% endif %}
            {% if flavour == "mobile" %}
        <a href="{{ file.file.url }}" class="noPrint ui-btn ui-btn-inline" data-ajax="false">download</a> 
        {% else %}
        <a href="{{ file.file.url }}" class="noPrint mouseover-thumbnail-holder ui-btn ui-btn-inline" data-ajax="false"><button>download</button>
	{% if file.thumbnail %}
	<img width="240" height="auto" class="noPrint large-thumbnail-style" src="{{ file.thumbnail }}" />
	{% endif %}
	</a> 
        {% endif %}
	<span class="itemLabel" id="span{{ file.id }}">
        {% if file.types %}
	{% for type in file.types %}
	  <span class="filetag">{{ type }}{% if perms.Event_Planner.add_event %}<span class="deletetagbutton" deletefrom="{% url 'rest_songfile_filetype_view' file.id  type %}"> &times;</span>{% endif %}</span>
{% endfor %}
<!--		{{ file.types|join:", " }}
-->
        {% else %}
        {% endif %}
        {% if perms.Event_Planner.add_event %}
          <span class="addtagbutton" addto="{% url 'rest_songfile_view' file.id %}">&plus;</span>
{% endif %}
	</span><!-- class="itemlabel"  -->
        {% for type in file.filetypes.all %}
        	{% if type.type == "mp3" %}
        		<audio src="{{ file.file.url|safe }}" controls>
        			
        			Your browser does not support the audio element.
        		</audio>
        	{% endif %}
        {% endfor %}

        {% if delete %}
        <a href="{% url 'songfile_delete_view' s.songsegment.song.pk file.pk %}">delete file</a>
        {% endif %}
	</span>
        </li>
    {% endfor %}
	{% if perms.Event_Planner.add_event %}
<li class="newfileform">
     <form id="form{{ s.songsegment.song.id }}" enctype="multipart/form-data" method="post" action="{% url 'song_upload_view' s.songsegment.song.id %}"> 
{% csrf_token %} <input class="ev_fileinput" name="file" type="file" /><input name="song" value="{{ s.songsegment.song.id }}" data-role="none" type="hidden" hidden>
<input maxlength="100" name="filetype_list" type="text" data-role="none" hidden /><input id="submit{{ s.songsegment.song.id }}" type="submit" value="Upload" hidden data-role="none"/>
</form></li>
{% endif %}
    </ul>
    
{% else %}
<p> no files available. </p>
	{% if perms.Event_Planner.add_event %}
<ul><li class="newfileform">
     <form id="form{{ s.songsegment.song.id }}" enctype="multipart/form-data" method="post" action="{% url 'song_upload_view' s.songsegment.song.id %}"> 
{% csrf_token %} <input class="ev_fileinput" name="file" type="file" /><input name="song" value="{{ s.songsegment.song.id }}" type="hidden" hidden>
<input maxlength="100" name="filetype_list" type="text" hidden /><input id="submit{{ s.songsegment.song.id }}" type="submit" value="Upload" hidden />
</form></li></ul>
{% endif %}
{% endif %}
{% if flavour == "mobile" %}
<a href="{{ s.songsegment.song.get_absolute_url }}">
						youtube
</a>
{% endif %}
</div>					
				{% endif %}
{% endif %}

		</td>
		<td data-th="Composer(s)">
		        {% if s.songsegment %}
                                {% if s.songsegment.song %}
					{% for composer in s.songsegment.song.composers.all %}
					        <br />
						{{ composer.first_name }} {{ composer.last_name }}
					{% endfor %}
			        {% endif %}
			{% endif %}
		</td>
		{% if s.notes %}
		<td data-th="Notes">{{ s.notes }}</td>
		{% else %}
		<td></td>
		{% endif %}
		{% if s.activity_set.all %}
		<td>
		<table>
		{% for a in s.activity_set.all %}
			<tr>
				<td>{{ a.role.name }}</td>
				<td><a href="mailto:{{ a.participant.email }}">{{ a.participant.name }}</a></td>
			</tr>
		{% endfor %}
		</table>
		</td> 
		{% endif %}
	</tr>
	{% endif %}
{% endfor %}
	</tbody>
</table>
</p>
	{% if perms.Event_Planner.add_event %}
<a  class = "noPrint" href="{% url 'event_powerpoint_view2' event.id event.get_pptx_name %}" download>Generate Powerpoint</a>{% endif %}
{% if flavour == "mobile" %}
<script>




//select header and append anchor
function f(event){
	
	var controlDiv;
	var icons = [];
	icons.push({
		icon:"ui-icon-delete",
		href:"#",
		others:{
					"data-rel":"back",
					"data-inline":"true",
					style:"padding:0",		
		       }
		
	});
	{% if perms.Event_Planner.add_event %}
	icons.push({
		icon:"ui-icon-plus",
		href:"{% url 'template_event_create_view'%}?template={{ event.id }}"
	});
	icons.push({
		icon:"ui-icon-edit",
                href:"{% url 'event_update_view' event.id %}",
                others:{
                   "data-ajax":"false"
                }
	});
	{% endif %}
	
	icons.push({
		icon:"ui-icon-home", 
		href:"{% url 'event_list_view' %}"
	});

	controlDiv = setupIcons("event-detail-icon", icons);
}
$(document).one("pagebeforeshow", f);


</script>
{% endif %}



{% if flavour != "mobile" %}
<div class="noPrint">
	{% if perms.Event_Planner.add_event %}
	    <p><a href="{% url 'template_event_create_view'%}?template={{ event.id }}">Copy to new event</a></p>
		<a href="{% url 'event_update_view' event.id %}">edit</a> &nbsp;
	{% endif %}
	<a href="{% url 'event_list_view' %}">go home</a>
	<div id="id_debug" />
	</div>
{% endif %}
<script>
$(document).ready(function(){
  //$('.rotate').css('height', $('.rotate').width());
});
{% include 'csrf.js' %}
function remove(n){
  var deleteurl = this.getAttribute("deletefrom");
  var currentTag = this.parentNode;
  if (!(typeof n===undefined) && !n.target){ 
      console.log(n);
      currentTag = n;
  }
  $.ajax({
    
    url: deleteurl,
    type: 'DELETE',
    success: function(){
        currentTag.remove();
    },
    error: function(head, stat, err){
       //$("#id_debug").text(head.responseText);
       //alert(head.responseText);
       //alert(stat);
       //alert(err);
    }
  });
}
function remove2(me){
    var deleteurl = me.getAttribute("deletefrom");
    var currentTag = me.parentNode;
    //var parent = this.currentTag.parent;
    console.log("tag:    " + currentTag);

    $.ajax({
      
      url: deleteurl,
      type: 'DELETE',
      success: function(){
          console.log("parent: " + currentTag.parentNode);
          currentTag.parentNode.parentNode.removeChild(currentTag.parentNode);
      },
      error: function(head, stat, err){
         //$("#id_debug").text(head.responseText);
         //alert(head.responseText);
         //alert(stat);
         //alert(err);
      }
    });
  }

function createTag(type, addurl){
   tag = document.createElement("span");
   tag.setAttribute("class", "filetag");
   tag.innerText = type;
   deletebutton = document.createElement("span");
   deletebutton.setAttribute("class", "deletetagbutton");
   deletebutton.setAttribute("deletefrom", addurl+"/"+type);
   deletebutton.innerHTML="&times;";
   deletebutton.onclick = remove;
   tag.appendChild(deletebutton);
   return tag;
}

$(".addtagbutton").click(function(){
    //alert("add to " + this.getAttribute("addto"));
    var currentTag = this;
    var parent = this.parentNode;
    var addurl = this.getAttribute("addto");
    $.ajax({
        url: '{% url 'json_filetypelist_view' %}',
        type: 'GET',
        success: function(data, status, xhr){
          //alert(data);
          var types=JSON.parse(data);
          var select = document.createElement("select");
          var opt = document.createElement("option");
          select.appendChild(opt);
          opt.innerText = "select file type...";
          types.forEach(function(type){
             var opt = document.createElement("option");
             opt.innerText = type;
             opt.setAttribute("value", type);
             select.appendChild(opt);
//             alert(opt.outerHTML);
          });
          parent.insertBefore(select, currentTag);
          select.onchange = function(ev) {
             if (event.target.value){
                var type = event.target.value;
                $.ajax({
                   url : addurl+"/"+type,
                   type: "POST",
                   success: function(data, status, xhr){
                     //alert(xhr.status);
                     if (xhr.status==201){
                      tag = createTag(type, addurl);
                      parent.insertBefore(tag, currentTag);
                     }
                     select.remove();
                     
                   },
                   error: function(head, stat, err){
                    //$("#id_debug").text(head.responseText);
                    //alert(head.responseText);
                     //alert(stat);
                     //alert(err);
                   }

                   
                });
             }
          };
       },
        error: function(){
        }
    });


});
$(".deletetagbutton").click(remove);
$(".deletefilebutton").click(function(){
        var me = this;
        $.confirm({
        title: 'Delete file...',
        content: "Delete file? This can't be undone!",
        buttons: {
            delete: function(){
                console.log(me.parentNode);
                remove2(me);
            },
            cancel:function(){}
        }
    })
    //click(remove2)
});
$(".ev_fileinput").change(function(ev){
//   alert("change");
    var fullPath = this.value;
    if (fullPath) {
        var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
        var filename = fullPath.substring(startIndex);
        if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
            filename = filename.substring(1);
    }
    var ext = filename.split('.').pop();
    if (ext === 'pptx')
      $(this).next().next().val("Powerpoint");
    else if (ext === 'mp3')
      $(this).next().next().val("mp3");
    }
   var $form = $(this).parents('form');
   $form.ajaxSubmit({
      success: function(data){
         //alert(data);
         location.reload();
      },
      url: $form.attr('action'),
      dataType: 'json',
error: function(head, stat, err){
                    $("#id_debug").text(head.responseText);
                    alert(head.responseText);
                     alert(stat);
                     alert(err);
                   }

   });
});
</script>

{% endblock %}
