body {
  background-color: #FFF;
  font-size: 1.3em;
  font-family: "Lucida Grande", Tahoma, Helvetica, sans-serif;
  color: #564b47;
  padding: 5px;
  margin: 0px;
  text-align: center;
  padding-bottom: 50px;
}
.documents {
    width: 100%;
}
.fullFooter {
	background: #eee;
	position: fixed;
	left:0px;
	bottom: 0px;
	height: 50px;
	width: 100%;
}
.fullFooter ul {
	list-style: none;
	background-color = #444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.fullFooter.li {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-top: 1px solid #888;
}

.fullFooter a {
	text-decoration: none;
	color: #222;
	display: block;
	transition: .3s background-color;
}

.fullFooter a:hover {
	background-color: #005f5f;
}

.fullFooter a.active {
	background-color: #fff;
	color: 444;
	cursor: default;
}


div {
  padding: 0;
  margin: 0;
}
div.mainbody {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /*max-width: 800px;*/
  border: 1px solid #DDDDB2;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  padding-bottom: 5px;
  border-bottom: 1px solid #CCC;
}

tr.odd {
  background: #FFF;
}

tr.even {
  background: #FFFFD4;
}

td {
  margin: 0;
  padding: 5px 5px 5px 3px;
  vertical-align: top;
}


td.right {
  text-align: right;
}

table#detail caption {
	font-size: 2rem;
	color: #444;
	margin: 1rem;
}
table#detail {
	border-collapse: collapse;
	font-family: Agenda-Light;
	font-weight: 100;
	background: #333;
	color: #fff;
	text-rendering: optimizeLegibility;
	border-radius: 5px;
}
table#detail thead th {
	font-weight: 600;
}
table#detail thead th,
	table#detail tbody td {
	padding: .8rem;
	font-size: 1.4rem;
}
table#detail tbody td {
	padding: .8rem;
	font-size: 1.4rem;
	color: #444;
	background: #eee;
}
table#detail tbody tr:not(:last-child) {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 600px){
        body {
	    font-size: 1em;
	}
	table.responsive caption {
		background-image: none;
	}
	table.responsive thead {
		display: none;
	}
	table.responsive tbody td {
		display: block;
		padding: .6rem;
	}
	table.responsive tbody tr td:first-child {
		background: #333;
		color: #fff;
	}
	table#detail tbody td:before {
		content: attr(data-th);
		font-weight: bold;
		display: inline-block;
		width: 6rem;
	}
	table {
	        width: 95%;
	        /*max-width: 95%;*/
	}
	audio { 
	    max-width: 50%; 
	}
}

@media screen and (min-width: 600px) {
  .fullFooter li {
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }
 .footerSpacer {
 	height: 50px;
 }
  /* Option 2 - Display Float */
  .fullFooter li {
    float: left;
  }
  .fullFooter ul {
  	overflow: auto;
  	width: 600px;
  	margin: 0 auto;
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top:25px;
	height:0;
}
.videoWrapper iframe {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.reg {
  text-align: left;
  vertical-align: middle;
  margin: 0px auto;
  background-color: #FFF;
  border: 1px solid #CCC;
}

#spinner {
  display: none;
  position: relative;
}

div.padded {
  padding-top: 10px;
}

div.margin {
  margin-top: 20px;
}

div.clear {
  clear: both;
}

div.note {
  padding: 15px;
  background: #FFFFD4;
  border: 1px solid #DDDDB2;
}

.hint {
  font-size: 0.8em;
  color: #888;
}

a.newtab {
  target-name:new;
  target-new:tab;
  target:_blank;
}

.song_prev {
	text-align: left;
	position: absolute;
	left:10%;
}

.song_next {
	text-align: right;
	position: absolute;
	right:10%;
}
.current {

}
.pagination {
	vertical-align: text-top;
	#display: inline-block;
}

@media print {
	body {
		font-size: 14pt;
	}
	.noPrint {
		display: none;
	}
	tr {
  		padding-bottom: 0px;
  		border-bottom: 1px solid #CCC;
	}
	td {
	  margin: 0;
	  padding: 0 0 0 0;
	  vertical-align: top;
	}
	table#detail {
		font-size: 12pt;
	}
	table#detail caption {
		font-size: 10pt;
		color: #444;
		margin: 0;
	}
	table#detail {
		border-collapse: collapse;
		font-family: Agenda-Light;
		font-weight: 100;
		background: #333;
		color: #fff;
	}
	table#detail thead th {
		font-weight: 600;
	}
	table#detail thead th,
		table#detail tbody td {
		padding: 0;
		font-size: 14pt;
	}
	table#detail tbody td {
		padding: 0;
		font-size: 12pt;
		color: #444;
		background: #eee;
	}
	table#detail tbody tr:not(:last-child) {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px;
    padding-bottom: : 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
  padding: 2px 16px;
    max-height:calc(60vh);
    max-width: calc(100vw - 100px);
    overflow-x:auto;
    white-space: nowrap;
}
.modal-body-thumbspan {
  white-space: normal;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.thumb {
  margin: 1em;
  padding: 10px 10px;
  align-content: center;
  vertical-align: top;
  display: inline-block;
  //width:350px;
}
.thumbActive {
  background-color: #5cb85c;
}
.thumbInactive{
  background-color: #fefefe;
}
.thumb-image{
  height: auto;
  width: 17vw;
}
.thumblabel {
  font-size: x-small;
  position:inherit;
  text-align: center;
  width: 17vw;
  overflow-x: hidden;
  right:10px;
  top:10px;
  word-wrap: break-word;
  align-content: center;
  white-space: normal;
}

@media screen and (min-width: 600px) {
  .thumb {
    margin: 1em;
    padding: 10px 10px;
    align-content: center;
    vertical-align: top;
    display: inline-block;
    //width:350px;
  }
  .thumb-image{
    height: auto;
    width: 20vw;
  }
  .thumblabel {
    position:inherit;
    text-align: center;
    width: 20vw;
    overflow-x: hidden;
    right:10px;
    top:10px;
    word-wrap: break-word;
    align-content: center;
    white-space: normal;
    font-size: x-large;
  }

}

.loader {
  color: #0930c9;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
a.mouseover-thumbnail-holder {
  position:relative;
  display:block;
  float:left;
  margin-right:10px;
}
.large-thumbnail-style {
  display:block;
  border:10px solid #fff;
  box-shadow:0px 0px 5px #aaa;
  float:
}
a.mouseover-thumbnail-holder .large-thumbnail-style {
  position:absolute;
  top:0;
  left:-9999px;
  z-index:1;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
a.mouseover-thumbnail-holder:hover .large-thumbnail-style {
  top:0;
  left:105%;
  z-index:1;
  opacity:1;
}
span.label {
  clear: left
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.filetag {
    border-radius: 11px;
    background: #2020E0;
    padding: 3px;
    color: #EEEEEE;
    box-shadow: 4px 2px;
    white-space: nowrap;
    float: left;
}
.segEditIconLabel {
    height:1em;
    width:1em;
    box-shadow: 4px 2px darkgrey;
    margin: 0px 0px 4px 2px;
    padding: 0px 0px 4px 2px;
    border: 1px solid lightgray;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.segEditIcon{
    height:1em;
    width:auto;
}
.togglebox {
    display:none;
}
.deletetagbutton{
    data-role:none;
    display:none;
}
.deletefilebutton{
  data-role:none;
  display:none;
  background: #EE2222;
  border-radius: 11px;
  float: left;
}
.addtagbutton{
    display:none;
    border-radius: 11px;
    background: #2020E0;
    padding: 3px;
    color: #EEEEEE;
    box-shadow: 4px 2px;
    float: left;
}
.togglebox:checked ~ .segEditIconLabel {
    margin: 4px 2px 0px 0px;
    padding: none;
    box-shadow: none;
}
.togglebox:checked ~ h4 > .segEditIconLabel {
    margin: 4px 2px 0px 0px;
    padding: none;
    box-shadow: none;
}
.togglebox:checked ~ ul > li > .clearfix > .itemLabel > .filetag > .deletetagbutton {
    cursor: pointer;
    display:inline;
}
.togglebox:checked ~ ul > li > .clearfix > .itemLabel > .addtagbutton {
    cursor: pointer;
    display:inline;
}
.togglebox:checked ~ ul > li > .clearfix > .deletefilebutton {
  cursor: pointer;
  display: inline;
}
.newfileform {
    display:none;
}
.togglebox:checked ~ul > li.newfileform {
    display:inline;
}
.songfile {
    text-align: left;
    margin-left: none;
}
li {
    list-style: none;
}
.ev_fileinput {
    float: left;
}

ul {
    -webkit-padding-start: 4px;
}